#onoff {
  margin-left: 5%;
  margin-top: 3.49%;
  width: 5vw;
}

.cont1Desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cont2Desc {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 5%;
  z-index: 1;
}

#titlepagesite {
  width: 20vw;
  height: 84px;
}

#descsite {
  width: 45vw;
  margin-top: 5%;
  font-size: 20px;
}

.matrix {
  margin-right: 5%;
  margin-top: 3.49%;
  max-width: 35vw;
}

.callToAction {
  display: flex;
  left: 15%;
  flex-direction: row;
}

.callToActionButton {
  text-align: center;
  width: 6vw;
  border: 1px solid black;
  margin: 20px;
  padding: 14px 16px 15px 15px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}

.callToAction a {
  background-color: #605a48;
}


.boldingTitle{
  font-size: 25px;
}
.bolding{
  font-size: 25px;
}
.sizeh2{
  font-size: 30px;
}
.fontSizeText{
  font-size: 20px;
}




/* Visual enhancement content Internet */








.cont1defInternet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.cont2defInternet {
  display: flex;
  flex-direction: column;
  margin-right: 5%;

}

.definition {
  text-align: right;
  width: 50vw;
}

.definition2 {
  text-align: right;
}

#worldNetwork {
  margin-left: 5%;
}

.cont1jobInternet {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.cont2jobInternet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cont3jobInternet {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.jobAlign {
  width: 45vw;
}

#code1 {
  width: 25vw;
  margin-right: 5%;
}

.cont4jobInternet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cont5jobInternet {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

#jobComAlign {
  text-align: right;
  width: 50vw;
}

#comman {
  width: 35vw;
  margin-left: 5%;
}








/* Visual Enhancement Content Big Data*/







.definitionReverse {
  text-align: left;
  width: 45vw;
}

.definitionReverse2 {
  text-align: left;
}

.cont1DefBigData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.cont2DefBigData {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

#baieStock {
  margin-right: 5%;
  width: 40vw;
}

.cont1JobBG {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.cont2JobBG {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.bigDataJobList {
  width: 50vw;
  text-align: right;

}

.bigDataJobTitle {
  text-align: right;
}

#spaghetti {
  margin-left: 5%;
}
.textAlignLeft{
  text-align: right;
}







/*     Visual Enhancement Content JeVi       */







.cont1DefJeVi{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.cont2DefJeVi{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

#gameController{
  width: 45vw;
  margin-right: 5%;
}

#DefJeVi{
  width: 45vw;
}


.cont1JobJeVi{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-right: 5%;
  margin-bottom: 2%;
}

.cont2JobJeVi{
  display: flex;
  flex-direction: column;
}

#ControllerPS5{
  width: 30vw;
  height: 30%;
  margin-left: 5%;
}
.JeViJobTitle{
  text-align: right;
}
.JeViJobDesc{
  text-align: right;
  width: 50vw;
}