@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "navbar.css" screen;
@import "footer.css" screen;
@import "desktop.css" screen and (min-width: 1051px);
@import "tablet.css" screen and (max-width:1050px) and (min-width:601px);
@import "cellphone.css" screen and (max-width: 600px);



html {
  background: linear-gradient(180deg, #F1F1F1 0%, #ffefbe 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Serif', serif;
}











