@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');
@import "navbar.css" screen;
@import "footer.css" screen;
@import "desktop.css" screen and (min-width: 1051px);
@import "tablet.css" screen and (max-width:1050px) and (min-width:601px);
@import "cellphone.css" screen and (max-width: 600px);



html {
  background: linear-gradient(180deg, #F1F1F1 0%, #ffefbe 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Serif', serif;
}





#baieStock {
  width: 25%;
}